{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}

    <div class="album py-5">
        <div class="container">
            <div class="d-grid gap-2 d-md-flex mb-3 justify-content-md-end my-5">
                <a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id }) }}"
                   class="btn btn-primary btn-sm" type="button">Retour à la
                    liste
                    des épisodes</a>
            </div>

            <img class="position-relative top-0 start-50 translate-middle-x my-5"
                 src="https://fakeimg.pl/350x200/52B69A/FEECCD/?text=Série"
                 alt="poster program">

            <h1 class="mt-0">Série : {{ program.title }}</h1>
            <p>Saison :
                {{ season.number }}</p>
            <p>
            <h2 class="mt-0"> Détail de l'épisode {{ episode.number }}</h2>
            <p>Titre de l'épisode :
                {{ episode.title }}</p>
            <p>Synopsis :
                {{ episode.synopsis }}
            </p>
            <p>Commentaires : </p>

            {% for comment in comments %}
                <p> {{ comment.comment }}</p>
                <p> {{ comment.rate }}</p>
            {% endfor %}

            {% include "program/_formComment.html.twig" %}
        </div>
    </div>
{% endblock %}
