{% extends 'base.html.twig' %}

{% block title %}Toutes les séries
{% endblock %}

{% block body %}
<a href="{{ path('app_index') }}">
    Retour à l'accueil
</a>
<div class="container">
    <div class="col">
        <div class="row">
            {% for program in programs %}
            <div class="card m-3 shadow-lg" style="width: 18rem;">
                <img src="{{ program.poster }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ program.title }}</h5>
                    <p class="card-text">{{ program.synopsis }}</p>
                    <a href="{{ path('program_program_show', {'programId': program.id}) }}"
                       class="btn btn-primary">show</a>
                    <a href="{{ path('program_app_program_edit', {'id': program.id}) }}"
                       class="btn btn-primary">edit</a>
                </div>
            </div>
            {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </div>
    </div>
</div>
        {% endblock %}


