{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}
{% endblock %}

{% block body %}
	<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
	<h1 class="mt-0">{{ program.title }}</h1>
	<p>{{ program.synopsis }}</p>
	<p>Catégorie :
		{{ program.category.name }}</p>
	<strong>Acteurs :</strong>
	<ul>
		{% for actor in program.actors %}
			<a href="{{ path('app_show', {'id': actor.id}) }}">{{ actor.firstname }} {{ actor.lastname }}</a>

		{% else %}
			<li>Aucun acteur pour cette série</li>
		{% endfor %}
	</ul>
	{% for season in program.seasons %}
		<p>Numéro de saison :
			{{ season.number }}</p>
		<p>
			Nombre d'épisodes :
			{{ season.episodes|length }}</p>
		<p>Année :
			{{ season.year }}</p>
		<p>
			<a href="{{ path("program_season_show", { programId: program.id, seasonId: season.id }) }}">Voir la fiche</a>
		</p>
	{% else %}
		Aucune série trouvée.
	{% endfor %}

	<a href="{{ path('program_index') }}">
		Retour à la liste des programmes
	</a>
{% endblock %}
